/*----------------------------------------*/
/* base */
/*----------------------------------------*/
html
{
	height:100%;
	font-size:0.75em;
}

body
{
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
	background:#fff;
	font-family: "MS UI Gothic", Osaka;
}

a
{
	color:#369;
}

a:hover
{
	outline:0px;
}

table
{
	border-collapse:collapse;
	border:0;
	padding:0px;
	margin:0px;
}

p,td,th
{
	padding:0px;
	margin:0px;
}

/*---------------------------------------*/
/* CssClass */
/*---------------------------------------*/
.clearBoth
{
	clear:both;
}

.imeOn
{
    ime-mode: active;
}

.imeDisabled
{
    ime-mode: disabled;
}

.imeOff
{
    ime-mode: inactive;
}

.input-txt
{
	border:1px solid #666;
}

.np
{
	padding:0;
}

.line
{
	height:1px;
	font-size:0px;
	margin:10px 0px;
	border-bottom:1px solid #333;
}

.mg5
{
	margin:5px 0px;
}

.mg10
{
	margin:10px 0px;
}
.pd5
{
	padding:0px 5px;
}
.pd10
{
	padding:0px 10px;
}

.pd5Left
{
	padding:0px 0px 0px 5px;
}

div.flow
{
	float:left;
	width:50%;
}
.font-style1
{
    font-size:1.5em;
    font-weight:bold;
}

.font-style2
{
    font-size:1.3em;
    font-weight:bold;
    color:Red;
}

.no-style
{
	padding:0px;
	margin:0px;
	border:none!important;
}