@import url(https://fonts.googleapis.com/css?family=Nunito);

/*----------------------------------------*/


/* ログイン画面 */


/*----------------------------------------*/

body {
    text-align: center;
    font-family: "MS UI Gothic";
}

.contents {
    font-size: 12px;
    color: #000;
    position: relative;
    margin: 0px 15px;
}

.contents-login {
    width: 500px;
    padding: 1px;
    margin: 50px auto;
    border: 1px solid #999;
    background: #fff;
}

.contents-login label {
    font-weight: bold;
}

strong {
    display: block;
    padding: 20px 10px;
    border: 1px solid #666;
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
    background: #BBE1E8 url('../images/login-inner-bg.gif') left bottom repeat-x;
}

.login-inner {
    height: 230px;
}

.contents-login table {
    text-align: right;
    margin: 40px auto;
}

.contents-login table th {
    vertical-align: top;
    padding-top: 8px;
}

@media all {
    .input-txt {
        width: 200px!important;
        margin: 3px;
        padding: 2px;
        font-family: "";
        border: 1px solid #666;
    }
}

@media all {
    div.button {
        padding: 10px 0px;
        text-align: right;
    }
}


/*----------------------------------------*/